* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  scroll-behavior: smooth;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: start;
  /* gap: 2%; */
}

button {
  padding: 10px 25px;
  border: none;
}

#fullname {
  display: flex;
  gap: 10px;
}

.blackbtn {
  padding: 10px;
  font-size: 14px;
  background-color: #000;
  color: white;
  border: none;
  margin-top: 8px;
}

#signup {
  margin-top: 20px;
}

#Facebook {
  background-color: #b2b5c4;
  color: #ffffff;
}

#Google {
  background-color: #b2b5c4;
  color: #ffffff;
}

#Microsoft {
  background-color: #b2b5c4;
  color: #ffffff;
}

.sideImage{
    width: 400px;
    height:500px;
}
.mainForm {
    display: flex;
}

.leftSide {
    width: 40%;
}

.rightSide {
width: 60%;
}

h3 {
  margin-top: 24px;  
}